#container{
    display:flex;
    justify-content: space-between;
    width:100%;
}
#table {
    border-color: #ccc;
    border-radius: 10px;
    padding:6px;
}
#menucard{
    border-color: #ccc;
    border-radius: 10px;
    padding:6px;

}